<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
  <!-- <script src= "/socket.io/socket.io.js"></script> -->

  <style>
      canvas {
        border:1px solid #d3d3d3;
        background-color: #f1f1f1;
      }
      text {
        float: bottom;
      }
  </style>
  <!--CHAGED--> <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
  <!--CHAGED--> <script src="jquery.js"></script>
  </head>

  <body onload="startGame()">
     <script src="frontend.js"></script>
  </body>
</html>
