<!DOCTYPE html>
<html>
  <head>
    <title>Hamster Wheel</title>
    <style>
      body {
        background-color: orange;
        color: white;
      }

    </style>
  </head>
  <body>
    <p>This is where the game would be. Meanwhile, please enjoy this video</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3kK6bOJrLb0" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
