<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="/style.css" rel="stylesheet">
    <script src="/jquery.js"></script>
  </head>
  <body>
    {{#if session.loggedInUser}}
      <p>Welcome, {{session.loggedInUser}}!</p>
        <form action ='/leaderboard'>
          <button class = "gameOver" style="display:none;">Display High Scores</button>
        </form>
        <form action ='/game'>
          <button class = "gameOver" style ="display:none;">Play Again</button>
        </form>

    {{/if}}

    {{{ body }}}
  </body>
</html>
