<!DOCTYPE html>
<html>
  <head>
    <title>Hamster Wheel</title>
    <style>
      body {
        background-color: orange;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Leaderboard</h1>
    <ol>
      {{#each hamsters}}
        <li>{{username}}{{score}}</li>
      {{/each}}
    </ol>
  </body>
</html>
